@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --card: #ffffff;
    --ring: #a1a1a1;
    --input: #e5e5e5;
    --muted: #f5f5f5;
    --accent: #f5f5f5;
    --border: #e5e5e5;
    --radius: 0rem;
    --chart-1: #737373;
    --chart-2: #737373;
    --chart-3: #737373;
    --chart-4: #737373;
    --chart-5: #737373;
    --popover: #ffffff;
    --primary: #737373;
    --sidebar: #fafafa;
    --font-mono: Geist Mono, monospace;
    --font-sans: Geist Mono, monospace;
    --secondary: #f5f5f5;
    --background: #ffffff;
    --font-serif: Geist Mono, monospace;
    --foreground: #0a0a0a;
    --destructive: #e7000b;
    --shadow-blur: 0px;
    --shadow-color: hsl(0 0% 0%);
    --sidebar-ring: #a1a1a1;
    --shadow-spread: 0px;
    --shadow-opacity: 0;
    --sidebar-accent: #f5f5f5;
    --sidebar-border: #e5e5e5;
    --card-foreground: #0a0a0a;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 1px;
    --sidebar-primary: #171717;
    --muted-foreground: #717171;
    --accent-foreground: #171717;
    --popover-foreground: #0a0a0a;
    --primary-foreground: #fafafa;
    --sidebar-foreground: #0a0a0a;
    --secondary-foreground: #171717;
    --destructive-foreground: #f5f5f5;
    --sidebar-accent-foreground: #171717;
    --sidebar-primary-foreground: #fafafa;
  }

  .dark {
    --card: #191919;
    --ring: #737373;
    --input: #525252;
    --muted: #262626;
    --accent: #404040;
    --border: #383838;
    --chart-1: #737373;
    --chart-2: #737373;
    --chart-3: #737373;
    --chart-4: #737373;
    --chart-5: #737373;
    --popover: #262626;
    --primary: #737373;
    --sidebar: #171717;
    --secondary: #262626;
    --background: #0a0a0a;
    --foreground: #fafafa;
    --destructive: #ff6467;
    --sidebar-ring: #525252;
    --sidebar-accent: #262626;
    --sidebar-border: #ffffff;
    --card-foreground: #fafafa;
    --sidebar-primary: #fafafa;
    --muted-foreground: #a1a1a1;
    --accent-foreground: #fafafa;
    --popover-foreground: #fafafa;
    --primary-foreground: #fafafa;
    --sidebar-foreground: #fafafa;
    --secondary-foreground: #fafafa;
    --destructive-foreground: #262626;
    --sidebar-accent-foreground: #fafafa;
    --sidebar-primary-foreground: #171717;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-mono);
  }
}

@theme inline {
  --color-card: var(--card);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --color-radius: var(--radius);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-popover: var(--popover);
  --color-primary: var(--primary);
  --color-sidebar: var(--sidebar);
  --color-font-mono: var(--font-mono);
  --color-font-sans: var(--font-sans);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-font-serif: var(--font-serif);
  --color-foreground: var(--foreground);
  --color-destructive: var(--destructive);
  --color-shadow-blur: var(--shadow-blur);
  --color-shadow-color: var(--shadow-color);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-shadow-spread: var(--shadow-spread);
  --color-shadow-opacity: var(--shadow-opacity);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-border: var(--sidebar-border);
  --color-card-foreground: var(--card-foreground);
  --color-shadow-offset-x: var(--shadow-offset-x);
  --color-shadow-offset-y: var(--shadow-offset-y);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
}
